# Tu API Key de WeatherAPI (consiguela en weatherapi.com)
WEATHER_API_KEY=tu_api_key_aqui_de_weatherApi

# Ubicacion a consultar (CABA)
CLIMALERT_LOCATION=-34.6037,-58.3816

# Destinatarios obligatorios del TP
NOTIFICATION_RECIPIENTS=admin@clima.com,emergencias@clima.com,meteorologia@clima.com

# --- MAIL SERVER LOCAL ---

SPRING_MAIL_HOST=localhost
SPRING_MAIL_PORT=1025
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
